<h1>Paths#index <%= link_to 'Add Path', new_path_path, class: 'btn btn-primary' %></h1>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>List</th>
    </tr>
  </thead>
  <tbody>
    <% @paths.each do |path| %>
      <tr>
        <td>
          <%= link_to path.title, url_with_protocol(path.url), target: '_blank' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
