<div class="jumbotron">
  <h1 class="display-3">Paths#index </h1>
  <p class="lead">Welcome join the Taroko school.</p>
  <hr class="m-y-2">
  <p class="lead">
    <%= link_to 'Add Path', new_path_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Paths List</th>
    </tr>
  </thead>
  <tbody>
    <% @paths.each do |path| %>
      <tr>
        <td>
          <%= link_to path.title, path_path(path) %>
          <%= link_to 'Modify', edit_path_path(path), class: 'btn btn-outline-warning btn-sm' %>
          <%= link_to 'Delete', path_path(path), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
