<div class="index_div">
  <%= link_to paths_path, class: 'btn btn-outline-primary btn-lg super_lg' do %>
    <span class="glyphicon glyphicon-search"></span>
  <% end %>

  <%= link_to posts_path, class: 'btn btn-outline-success btn-lg super_lg' do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
</div>

